<script>
    // Wait for the content to load
    window.addEventListener("load", function () {
      // Delay before hiding the preloader (in milliseconds)
      const delayDuration = 2000; // Adjust this value as needed
  
      // Hide the preloader after the delay
      const preloader = document.querySelector(".preloader");
      setTimeout(function () {
        preloader.style.display = "none";
      }, delayDuration);
    });
  </script>
  
  
</body>
</html>