<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trav.</title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a3b5966581.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="images/logo-red.png">
   </head>
<body>